node_modules/*
platforms/ios/weexplus-cjy/app/*
!platforms/ios/weexplus-cjy/app/weexplus-cjy.json
platforms/android/weexplus-cjy/app/src/main/assets/app/*
!platforms/android/weexplus-cjy/app/src/main/assets/app/weexplus-cjy.json
platforms/ios/weexplus-cjy/Pods
platforms/ios/weexplus-cjy/products/
platforms/ios/weexplus-cjy/jpush/
platforms/ios/weexplus-cjy/oss/
platforms/ios/weexplus-cjy/wechat/
platforms/ios/weexplus-cjy/alipay/
platforms/ios/weexplus-cjy/NetEaseIM/
platforms/android/UIKit/
platforms/android/netIm/
platforms/android/oss/
platforms/android/wechat/
platforms/android/jpush/
.svn
*.DS_Store
.idea
build
busi
temp
dist/*
*.iml
release
.gradle
/build